{% extends "rkb/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      {% if artist.profile_image %}
      <img src="{{ artist.profile_image.url }}" alt="{{ artist.stage_name }}" class="img-fluid rounded shadow">
      {% endif %}
    </div>
    <div class="col-md-8 text-black">
      <h2>{{ artist.stage_name|default:artist.full_name }}</h2>
      <p><strong>Full Name:</strong> {{ artist.full_name }}</p>
      <p><strong>Age:</strong> {{ artist.age }}</p>
      
      {% if artist.also_known_as %}
      <p><strong>Also Known As:</strong> {{ artist.also_known_as }}</p>
      {% endif %}
      {% if artist.biography %}
      <p><strong>Bio:</strong> {{ artist.biography }}</p>
      {% endif %}
    </div>
    {% if artist.facebook_link or artist.twitter_link or artist.instagram_link or artist.website %}
    <hr>
    <h5>Connect with {{ artist.stage_name|default:artist.full_name }}</h5>
    <div class="d-flex gap-3">
        {% if artist.facebook_link %}
            <a href="{{ artist.facebook_link }}" target="_blank" class="text-decoration-none text-primary">
                <i class="fab fa-facebook fa-lg"></i> Facebook
            </a>
        {% endif %}

        {% if artist.twitter_link %}
            <a href="{{ artist.twitter_link }}" target="_blank" class="text-decoration-none text-info">
                <i class="fab fa-twitter fa-lg"></i> Twitter
            </a>
        {% endif %}

        {% if artist.instagram_link %}
            <a href="{{ artist.instagram_link }}" target="_blank" class="text-decoration-none text-danger">
                <i class="fab fa-instagram fa-lg"></i> Instagram
            </a>
        {% endif %}

        {% if artist.website %}
            <a href="{{ artist.website }}" target="_blank" class="text-decoration-none text-dark">
                <i class="fas fa-globe fa-lg"></i> Website
            </a>
        {% endif %}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
